<div id="message-{{id}}" class="comment">
    <p class="comment-author">{{username}}</p>
    <p class="comment-date">{{formatDateString createdAt}}</p>
    <div class="comment-text">{{text}}</div>
</div>