<nav>
            <ul>
                <li>
                    <img src="../images/house.png" alt="house" width="20px" height="15px">
                    <a href="/">Home</a>
                </li>
                {{#if isLoggedIn}}
                   {{> userdropdown}}
                {{else}}
                    <li>
                        <img src="../images/lock.png" alt="lock" width="15px" height="15px">
                        <a href="/login">Log In</a>
                    </li>
                {{/if}}
                
                <li>
                    <img src="../images/paper2.png" alt="register" width="20px" height="17px">
                    <a href="/registration">Register</a>
                </li>
                <li>
                    <img src="../images/filmclapper.png" alt="film clapper" width="25px" height="15px">
                    <a href="/postvideo">Post Video</a>
                </li>
                <li>
                    <img src="../images/tvscreen.png" alt="tv screen" width="25px" height="15px">
                    <a href="/viewpost"> View Post</a>
                </li>

              
            </ul>
        </nav>
        {{log this}}