
    <a class="welcome-user">Hi, {{user.username}}</a>
    <div class="dropdown-menu-items">
        <form action="/users/logout" method="post">
            <button class="button-logout" type="submit">Log out</button>
        </form>
    </div>