
    <main class = "index-container">
        
        <header class="index-header">
            <h1>
                <img src="../images/house.png" alt="house" width="30px" height="25px"> Home 
            </h1>
        </header>
        
        {{#each results}}
            {{>card this}}
        {{/each}}
        
    </main>
