
    <main class="login-container">
        <header class="login-header">
            <h1>
                <img src='../public/images/lock.png' alt="lock" width="25px" height="25px">
                Log In
            </h1>
        </header>

            <form id="login-form" class="form-container" action="/users/login" method="post" enctype="application/x-www-form-urlencoded">
                <div class="input">
                    <label class="label-text" for="username:">Username:</label>
                    <input
                        class="input-text"
                        id=”username”
                        type=”text”
                        placeholder="Enter your username"
                        name="username"
                    />
                </div>
                 <div class="input">
                    <label class="label-text" for="password">Password:</label>
                    <input 
                    class="input-text" 
                    type="text" id="password" 
                    placeholder="Password"
                    name="password"
                     />
                    <div id="password-requirements" class="validation-text"></div>
                </div>
                <div class="button">
                    <button class="button">Submit</button>
                </div>   
            </form>
    </main>
