{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post A Video</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inconsolata:wght@300&family=Jost:wght@300&family=Montserrat:wght@300&family=Nanum+Gothic&family=Nunito:wght@300&family=Quicksand&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head> --}}





    <main class="postvideo-container">
        <header class="postvideo-header">
            <h1>
                <img src="../images/filmclapper.png" alt="film clapper" width="35px" height="25px"> Post A Video
            </h1>
            <h3>
                Post Your Video Here:
            </h3>
        </header>
            
            <form id="postvideo-form" class="form-container">
                <div class="input">
                    <label class"label-text" for="post title">Post Title:</label>
                    <input
                        class="input-text"
                        type=”text”
                        id=”post title”
                        placeholder="Create a title"
                        required
                    />
                </div>
                <div class="input">
                    <label class="label-text" for="post description">Post Description:</label>
                    <input
                        class="input-text"
                        type=”text”
                        id=”post description”
                        placeholder="Write a description"
                    />
                </div>
                <div class="input">
                    <label for="video">Upload Your Video:</label>
                    <input
                        type="file"
                        id="video file"
                    />
                </div>
                <div class="checkboxes">
                    <label for="TOS">Please accept the Acceptable Use Policy for uploading videos.</label>
                    <input
                        type="checkbox"
                        id="TOS" />
                        required
                </div>
                
                <div class="button">
                    <button class="button">Submit</button>
                </div>  

            </form>
    </main>
