


    <main class="form-container">
        <header class="form-header">
            <h1>
                <img src='../public/images/filmclapper.png' alt="film clapper" width="35px" height="25px">
                Post A Video
            </h1>
            <h3>
                Post Your Video Here:
            </h3>
        </header>
            
            <form id="post-image" class="input-form" action="/posts/create"
            method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <label for="post-title" class"tags post-lbl-title" >Post Title:</label>
                    <input
                        id="post-title"
                        class="text-input post-input-title"
                        type="text"
                        placeholder="Create a title"
                        name="title"
                        required
                    />
                </div>
                <div class="input-group">
                    <label for="post-description" class="tags post-lbl-desc" >
                        Post Description:</label>
                    <input
                        id="post-description"
                        class="text-input post-input-desc "
                        type="text"
                        placeholder="Write a description"
                        name="description"
                        required
                    />
                </div>
               
                    <label class="tags post-lblvideo">Upload Your Video:</label>
                    <input
                        id="img-select"
                        class="text-input post-input-video"
                        type="file"
                        name="uploadVideo"
                        required
                    />
                <div class="checkboxes">
                    <label class="TOScheckbox" for="TOS">
                        
                    <input
                        type="checkbox"
                        id="TOS" 
                        name="TOSCheck"
                        required
                        <a href="#">Please accept the Acceptable Use Policy for uploading videos.</a>
                    </label>
                </div>

                    <button id="submit" type="submit" class="button">Submit</button>

            </form>
    </main>
