form {
    display: grid;
      text-align: center;
      gap: 10px;
      justify-content: center;
      grid-template-columns: 1 fr, 2fr, 1fr;
      grid-column: 2;
      justify-content: center;
      
  }
  