:root {
    --color1: #a6eff8b7;
    --color2: #bef5c0ce;
    --color3: #fbffdcbe;
    --font: 'Quicksand', sans-serif;
}

h1 {
    padding:0px;
    margin: 0px;

}
body {
    display: flex;
    background-color: var(--color1);
    font-family: var(--font);
    flex-direction: column;
}

nav ul {
    order: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color2);
    list-style: none;
    
}

main {
    background-color: var(--color2);
}

ul{
    padding-inline-start: 0px;
}
li {
    border-color: black;
    border-style:double;
    padding: 10px;
    border-radius: 7px;
}

form {
    background-color: var(--color4);
    padding: 5px;
}

.button {
    background-color: #f0f8ff;
    border-color: #fbffdcbe;
    border-radius: 7px;
    color: #000000;
    padding: 2px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: var(--font);
    cursor:pointer;
  }
  
  .button:hover {
    background-color: var(--color3);
    border-color: var(--color3);
  }

  input {
    background-color: var(--color3);
    border-radius: 7px;
  }



@media screen and (min-width: 550px) {
    nav ul{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

      }
      .container {
        flex-direction: row;
        flex-wrap: wrap;
      }
    
  }
  
  @media screen and (min-width: 850px) {
    .page-header {
        order: 0;
        }

        .page-footer {
            order: 4;
          }
      
    
  }



